{% extends 'base.html.twig' %}

{% block title %}PresentationOfferFeature index{% endblock %}

{% block body %}
    <h1>PresentationOfferFeature index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FeatureName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presentation_offer_feature in presentation_offer_features %}
            <tr>
                <td>{{ presentation_offer_feature.id }}</td>
                <td>{{ presentation_offer_feature.featureName }}</td>
                <td>
                    <a href="{{ path('admin_offer_offer_featur_show', {'id': presentation_offer_feature.id}) }}">show</a>
                    <a href="{{ path('admin_offer_offer_featur_edit', {'id': presentation_offer_feature.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_offer_offer_featur_new') }}">Create new</a>
{% endblock %}
