{% extends 'admin/adminBase.html.twig' %}

{% block title %}{{ parent() }} | détails question{% endblock %}

{% block body %}
    <h1>détails de la question/reponse de la faq</h1>

    <table class="tableAdminDetail">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ presentation_faq_question.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ presentation_faq_question.number }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ presentation_faq_question.question }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ presentation_faq_question.answer }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('admin/_formCRUD/_delete_form.html.twig',{'pathUrl': 'admin_faq_faq_question_delete', 'id':  presentation_faq_question.id}) }}
    {{ include('admin/_inc/_footerShow.html.twig') }}

{% endblock %}
