{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(formOffer) }}
    <div class="blockFormOffer">
        <div class="labelFormOffer">
            {{ form_label(formOffer.name) }}
        </div>
        <div class="widgetFormOffer">
            {{ form_widget(formOffer.name) }}
        </div>
    </div>
    <div class="blockFormOffer">
        <div class="labelFormOffer">
            {{ form_label(formOffer.contactSubject) }}
        </div>
        <div class="widgetFormOffer">
            {{ form_widget(formOffer.contactSubject) }}
        </div>
    </div>
    <div class="blockFormOffer">
        <div class="subBlockFormOffer">
            <div class="labelFormOffer">
                {{ form_label(formOffer.lowPrice) }}
            </div>
            <div class="widgetFormOffer">
                {{ form_widget(formOffer.lowPrice) }}
            </div>
        </div>
        <div class="subBlockFormOffer">
            <div class="labelFormOffer">
                {{ form_label(formOffer.hightPrice) }}
            </div>
            <div class="widgetFormOffer">
                {{ form_widget(formOffer.hightPrice) }}
            </div>
        </div>
    </div>
    <div class="blockFormOffer">
        <div class="labelFormOffer">
            {{ form_label(formOffer.periodicity) }}
        </div>
        <div class="widgetFormOffer">
            {{ form_widget(formOffer.periodicity) }}
        </div>
    </div>

    <div class="blockFormOffer">
        {{ form_label(formOffer.features) }}
        {% set i = 1 %}

        {% for feature in formOffer.features %}
            {% if i%2!=0 %}
            <div class="checkboxLineFormOffer">
            {% endif %}
                <div class="checkboxGroupFormOffer">
                    <div class="widgetFeatureFormOffer">
                        {{ form_widget(feature) }}
                    </div>
                    <div class="labelFeatureFormOffer">
                        {{ form_label(feature) }}
                    </div>
                </div>
            {% if i%2==0 %}
            </div>
            {% endif %}
            {% set i = i + 1 %}
        {% endfor %}
    </div>
    <div class="blockFormOffer">
        <div class="labelFormOffer">
            {{ form_label(formOffer.imageFile) }}
        </div>
        <div class="widgetFormOfferFile">
            {{ form_widget(formOffer.imageFile) }}
        </div>
    </div>
    <div class="buttonFormOffer">
        <button class="button" >Enregistrer</button>
    </div>

    {{ form_end(formOffer) }}

{% endblock %}

{% block title %}{{ parent() }} | modifier/créer une offre{% endblock %}

