<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}SpMgmt{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/mainResponsive.css') }}" type="text/css">
    {% block extraStyle %}{% endblock %}
</head>
<body>
    <header>
        {{ include('presentation/inc/_presentationHeader.html.twig') }}
    </header>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <main class="container">
        <h1>{% block pageTitle %}{% endblock %}</h1>
        {% block body %}{% endblock %}
    </main>
    <script src="{{ asset('js/itemNavigationToggle.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
</body>
</html>

