{% extends 'presentation/presentationBase.html.twig' %}

{% block title %}{{ parent() }} | blog{% endblock %}


{% block pageTitle %}Blog{% endblock %}
{% block body %}
    <div class="blogContainer">
        {% for article in articlesList %}
            <a class="articleLink" href="{{ path('blog_detail',{id: article.id}) }}">
                <div class="articlePreview gradiantGroup">
                    {% if article.imageName is null %}
                        <img class="offerImage" src="{{ asset('Icons/defaultImage.svg') }}"
                             alt="image d'illustration de l'article"/>
                    {% else %}
                        <img class="articlePreviewImage" src="{{ asset('images/uploads/blog/articleIllustrations/') ~ article.imageName }}"
                             alt="image d'illustration de l'article"/>
                    {% endif %}
                    <div class="articlePreviewTitle">{{ article.categorie.label }}</div>
                    <div class="articlePreviewBody">
                        <h3>{{ article.title }}</h3>
                        <P>{{ article.preview|raw }}
                        </P>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block extraStyle %}


{% endblock %}

