{% extends 'admin/adminBase.html.twig' %}

{% block title %}{{ parent() }} | Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des articles du blog</h1>

    <table class="tableAdmin">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presentation_blog_categorie in presentation_blog_categories %}
            <tr>
                <td>{{ presentation_blog_categorie.id }}</td>
                <td>{{ presentation_blog_categorie.label }}</td>
                <td>
                    <a href="{{ path('admin_blog_categorie_show', {'id': presentation_blog_categorie.id}) }}">show</a>
                    <a href="{{ path('admin_blog_categorie_edit', {'id': presentation_blog_categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ include('admin/_inc/_footerIndex.html.twig',{'pathUrl':'admin_blog_categorie'}) }}

{% endblock %}
