{% extends 'admin/adminBase.html.twig' %}

{% block title %}{{ parent() }} | Détails article{% endblock %}

{% block body %}
    <h1>Détail de la catégorie :</h1>

    <table class="tableAdminDetail">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ presentation_blog_categorie.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ presentation_blog_categorie.label }}</td>
            </tr>
        </tbody>
    </table>

    {% set pathUrl =  'admin_blog_categorie'%}
    {% set IdObject = presentation_blog_categorie.id %}
    {{ include('admin/_formCRUD/_delete_form.html.twig',{'pathUrl': pathUrl, 'id':  IdObject}) }}
    {{ include('admin/_inc/_footerShow.html.twig',{'pathUrl': pathUrl, 'id':  IdObject}) }}


{% endblock %}
