<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}FCNA | SpMgmt{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/application.css') }}" type="text/css">
    {% block extraStyle %}{% endblock %}
    <style>
        body
        {
            background-color		: rgba(0,211,255,.5) !important;
        }
        header, nav
        {
            background-color		: rgba(0,211,255,1) !important;
        }

    </style>


</head>
<body>
<header>
    {{ include('application/inc/_header.html.twig') }}

</header>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div id="navMenu">{{ include('application/inc/_nav.html.twig') }}</div>

<main class="container">
    <div class="inlineDiv" id="navMenuSpace"></div>
    {% block body %}{% endblock %}
</main>



<script src="{{ asset('js/itemNavigationToggle.js') }}"></script>
{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
{% endblock %}
</body>



</html>

