{% extends 'admin/adminBase.html.twig' %}

{% block title %}{{ parent() }} | Liste des caractéristiques{% endblock %}

{% block body %}
    <h1>liste des caractéristiques des offres</h1>

    <table class="tableAdmin">
        <thead>
            <tr>
                <th>Id</th>
                <th>FeatureName</th>
                <th>FeatureDescription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presentation_offer_feature in presentation_offer_features %}
            <tr>
                <td>{{ presentation_offer_feature.id }}</td>
                <td>{{ presentation_offer_feature.featureName }}</td>
                <td>{{ presentation_offer_feature.description | raw }}</td>
                <td>
                    <a href="{{ path('admin_offer_feature_show', {'id': presentation_offer_feature.id}) }}">show</a>
                    <a href="{{ path('admin_offer_feature_edit', {'id': presentation_offer_feature.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ include('admin/_inc/_footerIndex.html.twig',{'pathUrl':'admin_offer_feature'}) }}

{% endblock %}
