{% extends 'admin/adminBase.html.twig' %}

{% block title %}Détails caractéristique{% endblock %}

{% block body %}
    <h1>détails de la caractéristique de l'offre</h1>

    <table class="tableAdminDetail">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ presentation_offer_feature.id }}</td>
            </tr>
            <tr>
                <th>FeatureName</th>
                <td>{{ presentation_offer_feature.featureName }}</td>
            </tr>
            <tr>
                <th>FeatureDescription</th>
                <td>{{ presentation_offer_feature.description }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('admin/_formCRUD/_delete_form.html.twig',{'pathUrl': 'admin_offer_offer_feature_delete', 'id':  presentation_offer_feature.id}) }}
    {{ include('admin/_inc/_footerShow.html.twig') }}

{% endblock %}
