{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(formArticle) }}
    <div class="blockFormArticle">
        <div class="labelFormArticle">
            {{ form_label(formArticle.title) }}
        </div>
        <div class="widgetFormArticle">
            {{ form_widget(formArticle.title) }}
        </div>
    </div>
    <div class="blockFormArticle">
        <div class="labelFormArticle">
            {{ form_label(formArticle.categorie) }}
        </div>
        <div class="widgetFormArticle">
            {{ form_widget(formArticle.categorie) }}
        </div>
    </div>
    <div class="blockFormArticle">
        <div class="labelFormArticle">
        {{ form_label(formArticle.preview) }}
        </div>
        <div class="widgetFormArticle">
            {{ form_widget(formArticle.preview) }}
        </div>
    </div>
    <div class="blockFormArticle">
        <div class="labelFormArticle">
            {{ form_label(formArticle.content) }}
        </div>
        <div class="widgetFormArticle">
            {{ form_widget(formArticle.content) }}
        </div>
    </div>
    <div class="blockFormArticle">
        <div class="labelFormArticle">
            {{ form_label(formArticle.imageFile) }}
        </div>
        <div class="widgetFormArticleFile">
            {{ form_widget(formArticle.imageFile) }}
        </div>
    </div>
    <div class="buttonFormArticle">
        <button class="button" >Enregistrer</button>
    </div>

    {{ form_end(formArticle) }}

{% endblock %}

{% block title %}{{ parent() }} | nouvel article {% endblock %}

