{% extends 'admin/adminBase.html.twig' %}

{% block title %}{{ parent() }} | liste des sujets{% endblock %}

{% block body %}
    <h1>Liste des sujets du formulaire de contact</h1>

    <table class="tableAdmin">
        <thead>
            <tr>
                <th>Id</th>
                <th>SubjectText</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact_subject in contact_subjects %}
            <tr>
                <td>{{ contact_subject.id }}</td>
                <td>{{ contact_subject.subjectText }}</td>
                <td>
                    <a href="{{ path('admin_contact_subject_show', {'id': contact_subject.id}) }}">show</a>
                    <a href="{{ path('admin_contact_subject_edit', {'id': contact_subject.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ include('admin/_inc/_footerIndex.html.twig') }}
{% endblock %}
