{% extends 'admin/adminBase.html.twig' %}

{% block title %}{{ parent() }} | détails sujet{% endblock %}

{% block body %}
    <h1>Détails du sujet du formulaire de contact</h1>

    <table class="tableAdminDetail">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact_subject.id }}</td>
            </tr>
            <tr>
                <th>SubjectText</th>
                <td>{{ contact_subject.subjectText }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('admin/_formCRUD/_delete_form.html.twig',{'pathUrl': 'admin_contact_subject_delete', 'id':  contact_subject.id}) }}
    {{ include('admin/_inc/_footerShow.html.twig') }}

{% endblock %}
