<section style="background-color:rgba(0,211,255,.5); text-align:center;">
    <h1>SpMgnt - formulaire de contact</h1>
</section>
<section style="font-size: 30px">
    <strong>{{ message.firstName }} {{ message.lastName }}</strong>
    a fait une demande d'information dont le sujet est
    <strong>"{{ message.subject.subjectText }}"</strong>
</section>
<section>
    <h2 style="margin: 10px">Sa question est la suivante:</h2>
    <p style="background-color: rgba(0,211,255,.8)"><i>"{{ message.question | nl2br}}"</i></p>
</section>
<section>
    <h2 style="margin: 10px">information pour lui repondre</h2>
    <table>
        <tr>
            <td>telephone:</td>
            <td>{{ message.phoneNumber }}</td>
        </tr>
        <tr>
            <td>Adresse mail</td>
            <td><a HREF="mailto:{{ message.mailAddress }}">{{ message.mailAddress }}</a></td>
        </tr>
    </table>
</section>
{% if  message.club is not null or message.division is not null %}
<section>
    <h2 style="margin: 10px">informations complementaires</h2>
    <table>
        <thead>
            <tr>
                <th>Nom du club</th>
                <th>Division</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ message.club }}</td>
            <td>{{ message.division }}</td>
        </tr>
        </tbody>
    </table>
</section>
{% endif %}
