{% extends 'admin/adminBase.html.twig' %}

{% block title %}{{ parent() }} | Modifier localisation des blessures{% endblock %}

{% block body %}
    <h1>Modifier localisation des blessures</h1>
    {% set pathUrl='admin_application_player_injury_location' %}


    {{ include('admin/_formCRUD/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="formDelete">
        {{ include('admin/_formCRUD/_delete_form.html.twig',{'pathUrl': pathUrl, 'id':  application_player_injury_location.id}) }}
    </div>
    {{ include('admin/_inc/_footerForm.html.twig',{'pathUrl':pathUrl}) }}

{% endblock %}


{% block javascripts %}
    <script>
        console.log("{{ application_player_injury_location.laterality }}");
        if("{{ application_player_injury_location.laterality }}" === "Gauche"){
            document.querySelector("#application_player_injury_location_lateralite_1").setAttribute("checked","checked")
        }else if("{{ application_player_injury_location.laterality }}" === "Droit"){
            document.querySelector("#application_player_injury_location_lateralite_0").setAttribute("checked","checked")
        }
    </script>



{% endblock %}
