<span class="NavGroupe">
    <a href="{{path('main_offre')}}" class="linkNav">Nos Offres</a>
    <a href="{{ path('blog_index') }}" class="linkNav">Nos Actus</a>
    <a href="{{ path('main_faq') }}" class="linkNav">FAQ</a>
    <a href="{{ path('main_contact') }}" class="linkNav">Contact</a>
</span>
<span class="NavGroupe">
    <a href="" class="linkNav">Evènement</a>
    <a href="{{ path('admin_contact_subject__index') }}" class="linkNav">Emploi</a>
</span>
